@page
@model BebraMusic.UI.Pages.Collections.Create

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Create collection</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        form {
            width: 300px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 8px;
        }

        input,
        select {
            margin-bottom: 10px;
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        .btn {
            background-color: #007bff;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .text-danger {
            color: red;
        }
    </style>
</head>
<body>
<div>
    <form method="post">

        <label for="Collection_Title">Введите название сборника:</label>
        <input id="Сollection_Title" asp-for="Collection.Title"/>
        <span asp-validation-for="Collection.Title" class="text-danger"></span>
            
        <label for="Collection_Genre">Выберите жанр:</label>
        <select asp-for="GenreId" asp-items="Model.Genres" required>
            <option disabled="disabled" value="">Выберите жанр</option>
        </select>
        <span asp-validation-for="Collection.Genre" class="text-danger"></span>
            
        <br></br>       
            
        <input class="btn" type="submit" value="Вписать в историю!"/>
            
        <div class="text-danger">
            @if (TempData["ErrorMessage"] != null)
            {
                <p>@TempData["ErrorMessage"]</p>
            }
        </div>
    </form>
</div>
</body>
</html>