@page
@model IndexModel
@{
    ViewData["Title"] = "BebraMusic";
}

<div class="text-center">
    <h1 class="display-4">БебраМузыка</h1>
    <h2>Лучшая музыка и бубербродная в Санкт-Петербурге!</h2>
    <p>Дешевая музыка, чисто на скорую руку: <a href="https://music.yandex.ru/home">Яндекс легенды точка ком</a>.</p>
    
</div>