@page
@model IndexModel
@{
    ViewData["Title"] = "BebraMusic";
}

<style>
    body {
        background-image: url('IMG_4517.gif');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh; /* Это устанавливает высоту фона на 100% высоты видимой области страницы */
        margin: 0; /* Убирает отступы по умолчанию у body */
        padding: 0; /* Убирает отступы по умолчанию у body */
    }

    .content {
        text-align: center;
        padding: 20px;
    }

    .col-6 {
        width: 260px;
    }
</style>

<div class="content">
    <h1 class="display-4">БебраМузыка</h1>
    <h2>Лучшая музыка и бубербродная в Санкт-Петербурге!</h2>
    <p>Дешевая музыка, чисто на скорую руку: <a href="https://music.yandex.ru/home">Яндекс легенды точка ком</a>.</p>
   <audio controls="controls" autoplay="autoplay">
        <source src="TrekForSmile.mp3" type="audio/mp3">
    </audio>
</div>

