@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">BebraMusic</h1>
    <p>Посещайте наш бетовый сайт, чисто на скорую руку:<a href="https://music.yandex.ru/home"> Яндекс легендас точка ком</a>.</p>
    
</div>