@page
@model PrivacyModel
@{
    ViewData["Title"] = "Воровать наши дешевые бебра треки запрещено и карается БАНом!";
}
<h1>@ViewData["Title"]</h1>

<p>Будьте бдительны, вы можете стать жертвой подделки нашего музыкального сервиса</p>
<p>Предлагаем вашему вниманию перечень пиратских сайтов, которые НАГЛО своровали нашу идею:</p>
<h2>ВОРЫ:</h2>
<div style="display: flex; align-items: center;">
    <ul>
        <li><a href="https://music.yandex.ru/home" target="_blank">Яндекс уроды точка ком</a></li>
        <li><a href="https://music.vk.com/" target="_blank">ВК своровалкины Музыка точка ру </a></li>
        <li><a href="https://music.youtube.com/" target="_blank">ЮТУБ МУЗЫКА ВОРЫ ВАШИХ ДЕНЕГ ТОЧКА КОМ </a></li>
        <li><a href="https://www.spotify.com/int/why-not-available/" target="_blank">Ну спотифай одни молодцы ниче не украли мы с ними сотрудничаем точка ком </a></li>
    </ul>
    <img src="https://altcam.ru/images/tizers-2/3.png" alt="Картинка" style="width: 610px; height: 250px; margin-left: 20px;">
</div>