@page
@model PrivacyModel
@{
    ViewData["Title"] = "Воровать наши дешевые бебра треки запрещено и карается БАНом!";
}
<h1>@ViewData["Title"]</h1>

<p>Будьте бдительны, вы можете стать жертвой подделки нашего музыкального сервиса</p>
<p>Предлогаем вашему вниманию перечень пиратских сайтов, которые НАГЛО своровали нашу идею:</p>
<h2>ВОРЫ:</h2>
<p><a href="https://music.yandex.ru/home">Яндекс уроды точка ком</a></p>
<p><a href="https://music.vk.com/">ВК своровалкины Музыка точка ру </a></p>
<p><a href="https://music.youtube.com/">ЮТУБ МУЗЫКА ВОРЫ ВАШИХ ДЕНЕГ ТОЧКА КОМ </a></p>
<p><a href="https://www.spotify.com/int/why-not-available/">Ну спотифай одни молодцы ниче не украли мы с ними сотрудничаем точка ком </a></p>