html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.content h1, .content h2, .content p, .content a {
  text-shadow: 0px 0px 9px rgba(252, 250, 250, 1); /* горизонтальное смещение, вертикальное смещение, радиус размытия, цвет свечения */
}
.content {
  font-family: Arial, sans-serif; /* Устанавливает шрифт текста на Arial, если его нет, то на любой другой без засечек (sans-serif) */
  color: #ff0000; /* Устанавливает цвет текста на красный (#ff0000) */
}

/* Или если вы хотите применить стили к отдельным элементам (например, заголовкам и ссылкам) внутри .content: */
.content h1 {
  font-family: 'Times New Roman', serif; /* Устанавливает шрифт заголовка h1 на Times New Roman, если его нет, то на любой другой с засечками (serif) */
  color: #ff00fb; /* Устанавливает цвет заголовка h1 на зеленый (#00ff00) */
}

.content a {
  font-family: 'Courier New', monospace; /* Устанавливает шрифт для ссылок на Courier New, если его нет, то на любой другой моноширинный шрифт (monospace) */
  color: #0202fc; /* Устанавливает цвет для ссылок на синий (#0000ff) */
}
/* Стилизация выпадающего списка */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(248, 0, 0, 0.17);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:hover, .dropdown-item:focus {
  background-color: #f8f9fa;
  color: #007bff;
}


