@page
@model BebraMusic.UI.Pages.Songs.Create

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Create Song</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        form {
            width: 300px; /* Ширина формы, установите значение по вашему усмотрению */
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 8px;
        }

        input {
            margin-bottom: 10px;
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        .btn {
            background-color: #007bff;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .text-danger {
            color: red;
        }
    </style>
</head>
<body>
    <div>
        <form method="post">
            <label for="Song_Title">Введите название песни:</label>
            <input id="Song_Title" asp-for="Song.Title"/>
            <span asp-validation-for="Song.Title" class="text-danger"></span>
            
            <label for="Song_Duration">Введите длительность:</label>
            <input id="Song_Duration" asp-for="Song.Title"/>
            <span asp-validation-for="Song.Duration" class="text-danger"></span>            
            
            <label for="Song_Artist">Выберите исполнителя:</label>
            <select asp-for="AuthorId" asp-items="Model.Authors" required>
            <option disabled="disabled" value="">Выберите автора</option>
            </select>
            <span asp-validation-for="Song.Author" class="text-danger"></span>
            
            <label for="Song_Album">Выберите альбом:</label>
            <select asp-for="AlbumId" asp-items="Model.Albums" required>
            <option disabled="disabled" value="">Выберите альбом</option>
            </select>
            <span asp-validation-for="Song.Album" class="text-danger"></span>
            
            <label for="Song_Genre">Выберите жанр:</label>
            <select asp-for="GenreId" asp-items="Model.Genres" required>
            <option disabled="disabled" value="">Выберите жанр</option>
            </select>
            <span asp-validation-for="Song.Genre" class="text-danger"></span>
            <br>
            <input class="btn" type="submit" value="Вписать в историю!"/>
            <div class="text-danger">
                @if (TempData["ErrorMessage"] != null)
                {
                    <p>@TempData["ErrorMessage"]</p>
                }
            </div>
        </form>
    </div>
</body>
</html>
