@page
@model BebraMusic.UI.Pages.Genres.Create

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Create Author</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        form {
            width: 300px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 8px;
        }

        input {
            margin-bottom: 10px;
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        .btn {
            background-color: #007bff;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .text-danger {
            color: red;
        }
    </style>
</head>
<body>
<div>
    <form method="post">
        <label for="Genre_Name">Введите название жанра:</label>
        <input id="Genre_Name" asp-for="Genre.Name"/>
        <span asp-validation-for="Genre.Name" class="text-danger"></span>

        <input class="btn" type="submit" value="Добавить новый звук!"/>
        <div class="text-danger">
            @if (TempData["ErrorMessage"] != null)
            {
                <p>@TempData["ErrorMessage"]</p>
            }
        </div>
    </form>
</div>
</body>
</html>